@import "tailwindcss";

.events {
  @apply col-span-2 row-span-1 overflow-y-auto;
}

.events::-webkit-scrollbar {
  width: 6px;
}

.events::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}

.events div {
  @apply duration-300 flex cursor-default hover:scale-105;
}

.events div img {
  @apply w-2xl;
}