@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  @apply h-full lg:overflow-hidden;
}

#app {
  @apply min-h-screen flex items-center justify-center z-2;

  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.about-me, .events, .skills, .contact, .projects, .project-count, .years-of-experience {
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  text-align: center;

  @apply h-full w-full text-sm sm:text-base lg:text-lg;
}

.main-grid {
  @apply p-4 sm:p-6 md:p-8 lg:p-10;
}

.main-grid ul {
  @apply w-11/12 h-auto grid gap-4 mx-auto grid-cols-1 grid-rows-none sm:grid-cols-2 sm:grid-rows-3 md:grid-cols-3 md:grid-rows-3 lg:grid-cols-5 lg:grid-rows-4 lg:h-[90vh];
}

.about-me {
  @apply col-span-1 row-span-1 sm:col-span-2 md:col-span-3 md:row-span-2 lg:col-span-3 lg:row-span-3;
}

.project-count,
.years-of-experience {
  @apply flex items-center justify-center bg-linear-to-l from-sky-300 via-teal-200 to-lime-200 bg-clip-text text-transparent cursor-default;
}

.project-count p:first-child,
.years-of-experience p:first-child {
  @apply text-6xl p-2;
}
