@import "tailwindcss";

.projects {
  @apply col-span-2 row-span-2 overflow-y-auto overflow-x-hidden;
}

.projects > p {
  @apply text-3xl p-1 cursor-default;
}

.projects-area::-webkit-scrollbar {
  width: 6px;
}

.projects-area::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}

/* --card-color is a variable which is defined in the div-tag of every project-card */

.project-card {
  @apply bg-neutral-800 border-(--card-color) border rounded-2xl duration-500 m-2.5 p-5;
}

.project-card:hover {
  @apply scale-[1.12] translate-y-[-5px] z-10 shadow-[0_15px_50px_rgba(0,0,0,0.6)];
}

.project-card .project-card-label {
  @apply cursor-default;

  transform: scale(1.1);
  letter-spacing: 3px;
}

.project-card .project-card-subtitle {
  @apply cursor-default;

  transform: translateY(3px);
  opacity: 1;
}

.project-card-links {
  @apply flex justify-center p-1 gap-3;
}

.project-card-links svg {
  @apply w-8 h-auto fill-neutral-50 duration-200 hover:fill-blue-400;
}