@import "tailwindcss";

:root {
  @apply bg-zinc-900;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  @apply h-full lg:overflow-hidden;
}

#app {
  @apply min-h-screen flex items-center justify-center;
}

.about-me, .events, .skills, .contact, .projects, .project-count {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  text-align: center;

  @apply h-full w-full text-sm sm:text-base lg:text-lg;
}

.main-grid {
  @apply p-4 sm:p-6 md:p-8 lg:p-10;
}

.main-grid ul {
  @apply w-11/12 h-auto grid gap-4 mx-auto grid-cols-1 grid-rows-none sm:grid-cols-2 sm:grid-rows-3 md:grid-cols-3 md:grid-rows-3 lg:grid-cols-5 lg:grid-rows-4 lg:h-[90vh];
}

.about-me {
  @apply col-span-1 row-span-1 sm:col-span-2 md:col-span-3 md:row-span-2 lg:col-span-3 lg:row-span-3;
}

.events {
  @apply col-span-1 row-span-1 md:row-span-2 lg:row-span-4;
}

.events div {
  @apply duration-300;
}

.events div:hover {
  @apply scale-105;
}

.contact div {
  @apply duration-200 p-4;
}

.contact-links {
  @apply flex gap-4 justify-center;
}

.contact div svg {
  @apply fill-neutral-900 w-10 h-auto;
}

.contact div svg:hover {
  @apply scale-105;
}

.skills {
  @apply col-span-1 sm:col-span-2 md:col-span-2;
}

.skills div {
  @apply flex gap-4 duration-200;
}

.skills div svg {
  @apply w-10 h-auto;
}

.skills div svg:hover {
  @apply scale-105;
}

.project-count {
  @apply flex items-center justify-center;
}

.project-count p:first-child {
  @apply text-6xl p-2;
}

.projects {
  @apply col-span-1 row-span-1 md:row-span-2 lg:row-span-3 overflow-y-auto;
}

.projects::-webkit-scrollbar {
  width: 6px;
}

.projects::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}
