@import "tailwindcss";

.project-card {
  @apply bg-neutral-800 border rounded-2xl duration-500;

  margin: 10px;
  padding: 20px;
}

.project-card:nth-child(1) {
  @apply border-blue-400;
}

.project-card:nth-child(2) {
  @apply border-orange-400;
}

.project-card:nth-child(3) {
  @apply border-indigo-600;
}

.project-card:nth-child(4) {
  @apply border-red-400;
}

.project-card:hover {
  @apply scale-[1.12] translate-y-[-5px];
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.project-card .project-card-label {
  transform: scale(1.1);
  letter-spacing: 3px;
}

.project-card .project-card-subtitle {
  transform: translateY(3px);
  opacity: 1;
}

.project-card-links {
  @apply flex justify-center p-1 gap-3;
}

.project-card-links svg {
  @apply w-8 h-auto fill-amber-50 duration-200;
}

.project-card-links svg:hover {
  @apply w-8 h-auto fill-blue-400;
}