@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: midnightblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

.main-grid {
  @apply grid grid-cols-6 grid-rows-6 gap-4;
}

.about-me {
  @apply col-span-4 row-span-3 bg-neutral-800;
}

.events {
  @apply col-span-2 row-span-4 bg-neutral-800;
}

.contact {
  @apply col-span-2 row-span-2 bg-neutral-800;
}

.skills {
  @apply col-span-2 row-span-3 bg-neutral-800;
}

.projects {
  @apply col-span-2 row-span-3 bg-neutral-800;
}
